In [69]:
import pandas as pd
import requests

In [70]:
df = pd.read_csv("DACNationalProvider.csv")
df

/var/folders/yw/glbhrf0506q_4fcjx743s0gc0000gn/T/ipykernel_26914/4233374298.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("DACNationalProvider.csv")

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm,frst_nm,mid_nm,suff,gndr,Cred,Med_sch,...,adr_ln_1,adr_ln_2,ln_2_sprs,cty,st,zip,phn_numbr,ind_assgn,grp_assgn,adrs_id
0,1003008095,3678666054,I20070830000131,HOUSE,ROBIN,R,NaN,F,NaN,OTHER,...,2867 CUMBERLAND FALLS HWY,NaN,NaN,CORBIN,KY,407018848,6.065235e+09,Y,Y,KY407018848CO2867XHWYX400
1,1003008095,3678666054,I20070830000131,HOUSE,ROBIN,R,NaN,F,NaN,OTHER,...,1025 SAINT JOSEPH LN,NaN,NaN,LONDON,KY,407418345,6.063302e+09,Y,Y,KY407418345LO1025XLNXX400
2,1003008095,3678666054,I20070830000131,HOUSE,ROBIN,R,NaN,F,NaN,OTHER,...,649 MEYERS BAKER RD,SUITE 102,NaN,LONDON,KY,407413006,6.068647e+09,Y,Y,KY407413006LO649XXRDXX402
3,1003010539,2668571191,I20111022000054,STEWART,RICHARD,NaN,NaN,M,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",...,4900 HOUSTON RD,NaN,NaN,FLORENCE,KY,410424824,8.592125e+09,Y,Y,KY410424824FL4900XRDXX300
4,1003010539,2668571191,I20111022000054,STEWART,RICHARD,NaN,NaN,M,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",...,85 N GRAND AVE,NaN,NaN,FORT THOMAS,KY,410751793,8.595724e+09,Y,Y,KY410751793FO85XXXAVEX400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151414,1427086933,840293924,I20060825000196,NASSAB,PAUL,NaN,NaN,M,MD,BOSTON UNIVERSITY SCHOOL OF MEDICINE,...,9221-9223 NE HWY 152,NaN,NaN,KANSAS CITY,MO,641587608,8.167922e+09,Y,Y,MO641587608KA92219152X500
151415,1427087972,3678606597,I20100729000242,WU,TZYY-CHOOU,NaN,NaN,M,NaN,OTHER,...,600 N WOLFE ST,NaN,NaN,BALTIMORE,MD,212870005,4.109555e+09,Y,Y,MD212870005BA600XXSTXX400
151416,1427088012,8224127725,I20100813000549,KRAHN,MICHAEL,J,NaN,M,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",...,2800 CLAY EDWARDS DR,NORTHLAND RADIOLOGY,NaN,N KANSAS CITY,MO,641163220,9.136425e+09,Y,Y,MO641163220NX2800XDRXX402
151417,1427088012,8224127725,I20100813000549,KRAHN,MICHAEL,J,NaN,M,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",...,5501 NW 62ND TERRACE,200 TREMONT MEDICAL IMAGING,NaN,KANSAS CITY,MO,641512408,8.166918e+09,Y,Y,MO641512408KA5501XTERR403
151418,1427089044,8921103490,I20070412000367,PARKS,MARTIN,S,NaN,M,DC,CLEVELAND CHIROPRACTIC COLLEGE - KANSAS CITY,...,1908 W MECHANIC ST,NaN,NaN,HARRISONVILLE,MO,647011995,8.163802e+09,Y,M,MO647011995HA1908XSTXX400

In [71]:
df.columns

Index(['NPI', 'Ind_PAC_ID', 'Ind_enrl_ID', 'lst_nm', 'frst_nm', 'mid_nm',
       'suff', 'gndr', 'Cred', 'Med_sch', 'Grd_yr', 'pri_spec', 'sec_spec_1',
       'sec_spec_2', 'Telehlth', 'org_nm', 'org_pac_id', 'num_org_mem',
       'adr_ln_1', 'adr_ln_2', 'ln_2_sprs', 'cty', 'st', 'zip', 'phn_numbr',
       'ind_assgn', 'grp_assgn', 'adrs_id'],
      dtype='object')

In [72]:
# Drop columns not needed and rename columns
df_new = df[['NPI', 'lst_nm', 'frst_nm', 'Cred', 'Med_sch', 'adr_ln_1', 'adr_ln_2', 'cty', 'st', 'zip', 'phn_numbr',
              'adrs_id']].rename(columns={'lst_nm': 'Last_Name', 'frst_nm': 'First_Name', 'Cred': 'Type_of_Licensure',
                                          'adr_ln_1': 'Address_1', 'adr_ln_2': 'Address_2', 'cty': 'City', 'st': 'State',
                                          'zip': 'Zip', 'phn_numbr': 'Phone', 'adrs_id': 'PseudoAddressID'})

In [73]:
df_new

,NPI,Last_Name,First_Name,Type_of_Licensure,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID
0,1003008095,HOUSE,ROBIN,NaN,OTHER,2867 CUMBERLAND FALLS HWY,NaN,CORBIN,KY,407018848,6.065235e+09,KY407018848CO2867XHWYX400
1,1003008095,HOUSE,ROBIN,NaN,OTHER,1025 SAINT JOSEPH LN,NaN,LONDON,KY,407418345,6.063302e+09,KY407418345LO1025XLNXX400
2,1003008095,HOUSE,ROBIN,NaN,OTHER,649 MEYERS BAKER RD,SUITE 102,LONDON,KY,407413006,6.068647e+09,KY407413006LO649XXRDXX402
3,1003010539,STEWART,RICHARD,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",4900 HOUSTON RD,NaN,FLORENCE,KY,410424824,8.592125e+09,KY410424824FL4900XRDXX300
4,1003010539,STEWART,RICHARD,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",85 N GRAND AVE,NaN,FORT THOMAS,KY,410751793,8.595724e+09,KY410751793FO85XXXAVEX400
...,...,...,...,...,...,...,...,...,...,...,...,...
151414,1427086933,NASSAB,PAUL,MD,BOSTON UNIVERSITY SCHOOL OF MEDICINE,9221-9223 NE HWY 152,NaN,KANSAS CITY,MO,641587608,8.167922e+09,MO641587608KA92219152X500
151415,1427087972,WU,TZYY-CHOOU,NaN,OTHER,600 N WOLFE ST,NaN,BALTIMORE,MD,212870005,4.109555e+09,MD212870005BA600XXSTXX400
151416,1427088012,KRAHN,MICHAEL,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",2800 CLAY EDWARDS DR,NORTHLAND RADIOLOGY,N KANSAS CITY,MO,641163220,9.136425e+09,MO641163220NX2800XDRXX402
151417,1427088012,KRAHN,MICHAEL,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",5501 NW 62ND TERRACE,200 TREMONT MEDICAL IMAGING,KANSAS CITY,MO,641512408,8.166918e+09,MO641512408KA5501XTERR403
151418,1427089044,PARKS,MARTIN,DC,CLEVELAND CHIROPRACTIC COLLEGE - KANSAS CITY,1908 W MECHANIC ST,NaN,HARRISONVILLE,MO,647011995,8.163802e+09,MO647011995HA1908XSTXX400

In [74]:
df_new.dtypes

NPI                    int64
Last_Name             object
First_Name            object
Type_of_Licensure     object
Med_sch               object
Address_1             object
Address_2             object
City                  object
State                 object
Zip                   object
Phone                float64
PseudoAddressID       object
dtype: object

In [75]:
pro_new = pd.DataFrame(df_new)

# Function to extract the first 5 digits of the ZIP code
def extract_first_5_digits(zip_code):
    if pd.notna(zip_code):
        return str(zip_code)[:5]
    else:
        return ""

# Function to format phone numbers as "111-111-1111"
def format_phone(phone_num):
    if pd.notna(phone_num):
        phone_int = int(phone_num)
        phone_str = str(phone_int)
        return f"{phone_str[:3]}-{phone_str[3:6]}-{phone_str[6:]}"
    else:
        return ""

# Applying the conversion functions to the ZIP and Phone columns in the DataFrame
pro_new['Zip'] = pro_new['Zip'].apply(extract_first_5_digits)
pro_new['Phone'] = pro_new['Phone'].apply(format_phone)

# Display the dataframe with formatted Zip and Phone Number.
pro_new

,NPI,Last_Name,First_Name,Type_of_Licensure,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID
0,1003008095,HOUSE,ROBIN,NaN,OTHER,2867 CUMBERLAND FALLS HWY,NaN,CORBIN,KY,40701,606-523-5402,KY407018848CO2867XHWYX400
1,1003008095,HOUSE,ROBIN,NaN,OTHER,1025 SAINT JOSEPH LN,NaN,LONDON,KY,40741,606-330-2377,KY407418345LO1025XLNXX400
2,1003008095,HOUSE,ROBIN,NaN,OTHER,649 MEYERS BAKER RD,SUITE 102,LONDON,KY,40741,606-864-7316,KY407413006LO649XXRDXX402
3,1003010539,STEWART,RICHARD,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",4900 HOUSTON RD,NaN,FLORENCE,KY,41042,859-212-5441,KY410424824FL4900XRDXX300
4,1003010539,STEWART,RICHARD,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",85 N GRAND AVE,NaN,FORT THOMAS,KY,41075,859-572-3617,KY410751793FO85XXXAVEX400
...,...,...,...,...,...,...,...,...,...,...,...,...
151414,1427086933,NASSAB,PAUL,MD,BOSTON UNIVERSITY SCHOOL OF MEDICINE,9221-9223 NE HWY 152,NaN,KANSAS CITY,MO,64158,816-792-2266,MO641587608KA92219152X500
151415,1427087972,WU,TZYY-CHOOU,NaN,OTHER,600 N WOLFE ST,NaN,BALTIMORE,MD,21287,410-955-5000,MD212870005BA600XXSTXX400
151416,1427088012,KRAHN,MICHAEL,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",2800 CLAY EDWARDS DR,NORTHLAND RADIOLOGY,N KANSAS CITY,MO,64116,913-642-4900,MO641163220NX2800XDRXX402
151417,1427088012,KRAHN,MICHAEL,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",5501 NW 62ND TERRACE,200 TREMONT MEDICAL IMAGING,KANSAS CITY,MO,64151,816-691-8000,MO641512408KA5501XTERR403
151418,1427089044,PARKS,MARTIN,DC,CLEVELAND CHIROPRACTIC COLLEGE - KANSAS CITY,1908 W MECHANIC ST,NaN,HARRISONVILLE,MO,64701,816-380-2436,MO647011995HA1908XSTXX400

In [76]:
# Select providers from Kentucky only
providers_ky = pro_new[pro_new['State'] == 'KY']

# Display the filtered DataFrame containing providers from KY
print(providers_ky)

              NPI Last_Name First_Name Type_of_Licensure  \
0      1003008095     HOUSE      ROBIN               NaN
1      1003008095     HOUSE      ROBIN               NaN
2      1003008095     HOUSE      ROBIN               NaN
3      1003010539   STEWART    RICHARD                DO
4      1003010539   STEWART    RICHARD                DO
...           ...       ...        ...               ...
14633  1427072990    MILLER       BETH                MD
14634  1427076173   BRUNEAU     DENISE                MD
14635  1427081348    HOWELL   MICHELLE                OD
14636  1427087857  BARTOLAC    TIFFANI               NaN
14637  1427087857  BARTOLAC    TIFFANI               NaN

                                                 Med_sch  \
0                                                  OTHER
1                                                  OTHER
2                                                  OTHER
3      UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...
4      UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...
...                                                  ...
14633           UNIVERSITY OF TOLEDO COLLEGE OF MEDICINE
14634        UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE
14635                                              OTHER
14636       UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE
14637       UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE

                       Address_1  Address_2         City State    Zip  \
0      2867 CUMBERLAND FALLS HWY        NaN       CORBIN    KY  40701
1           1025 SAINT JOSEPH LN        NaN       LONDON    KY  40741
2            649 MEYERS BAKER RD  SUITE 102       LONDON    KY  40741
3                4900 HOUSTON RD        NaN     FLORENCE    KY  41042
4                 85 N GRAND AVE        NaN  FORT THOMAS    KY  41075
...                          ...        ...          ...   ...    ...
14633         2400 GREATSTONE PT        NaN    LEXINGTON    KY  40504
14634         2201 LEXINGTON AVE        NaN      ASHLAND    KY  41101
14635         3970 TURKEYFOOT RD        NaN     ERLANGER    KY  41018
14636       1 MEDICAL VILLAGE DR        NaN     EDGEWOOD    KY  41017
14637     711 MEDICAL VILLAGE DR        NaN     EDGEWOOD    KY  41017

              Phone            PseudoAddressID
0      606-523-5402  KY407018848CO2867XHWYX400
1      606-330-2377  KY407418345LO1025XLNXX400
2      606-864-7316  KY407413006LO649XXRDXX402
3      859-212-5441  KY410424824FL4900XRDXX300
4      859-572-3617  KY410751793FO85XXXAVEX400
...             ...                        ...
14633                KY405043274LE2400XPTXX300
14634  800-967-2289  KY411012843AS2201XAVEX300
14635  859-534-1498  KY410182840ER3970XRDXX300
14636  859-212-4468  KY410173403ED1XXXXDRXX400
14637  859-331-3353  KY410173439ED711XXDRXX400

[14638 rows x 12 columns]

In [77]:
# Method 2: Using value_counts() method
city_counts = providers_ky['PseudoAddressID'].value_counts()
city_counts

KY402041743LO825XXAVEX300    308
KY410173403ED1XXXXDRXX400    206
KY405360001LE800XXSTXX300    196
KY405043274LE2400XPTXX300    140
KY405043274LE100XXPTXX300    136
                            ...
KY403531478MT117XXCTRX300      1
KY420712446MU300XXSTXX401      1
KY412401811PA520XXTRLX400      1
KY422178009CR241XXSTXX400      1
KY410182840ER3970XRDXX300      1
Name: PseudoAddressID, Length: 3524, dtype: int64

In [78]:
# Assuming you have the 'providers_ky' DataFrame with 'NPI' and 'Phone' columns

# Function to check for NaN or blank in 'NPI' or 'Phone' column
def check_nan(row):
    if pd.isna(row['NPI']) or pd.isna(row['Phone']) or (row['NPI'] == '') or (row['Phone'] == ''):
        return 'Y'
    else:
        return ''

# Adding a new column 'Invalid' using the apply() method
providers_ky['Invalid'] = providers_ky.apply(check_nan, axis=1)

# Display the updated DataFrame with the new column
print(providers_ky)

              NPI Last_Name First_Name Type_of_Licensure  \
0      1003008095     HOUSE      ROBIN               NaN
1      1003008095     HOUSE      ROBIN               NaN
2      1003008095     HOUSE      ROBIN               NaN
3      1003010539   STEWART    RICHARD                DO
4      1003010539   STEWART    RICHARD                DO
...           ...       ...        ...               ...
14633  1427072990    MILLER       BETH                MD
14634  1427076173   BRUNEAU     DENISE                MD
14635  1427081348    HOWELL   MICHELLE                OD
14636  1427087857  BARTOLAC    TIFFANI               NaN
14637  1427087857  BARTOLAC    TIFFANI               NaN

                                                 Med_sch  \
0                                                  OTHER
1                                                  OTHER
2                                                  OTHER
3      UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...
4      UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...
...                                                  ...
14633           UNIVERSITY OF TOLEDO COLLEGE OF MEDICINE
14634        UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE
14635                                              OTHER
14636       UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE
14637       UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE

                       Address_1  Address_2         City State    Zip  \
0      2867 CUMBERLAND FALLS HWY        NaN       CORBIN    KY  40701
1           1025 SAINT JOSEPH LN        NaN       LONDON    KY  40741
2            649 MEYERS BAKER RD  SUITE 102       LONDON    KY  40741
3                4900 HOUSTON RD        NaN     FLORENCE    KY  41042
4                 85 N GRAND AVE        NaN  FORT THOMAS    KY  41075
...                          ...        ...          ...   ...    ...
14633         2400 GREATSTONE PT        NaN    LEXINGTON    KY  40504
14634         2201 LEXINGTON AVE        NaN      ASHLAND    KY  41101
14635         3970 TURKEYFOOT RD        NaN     ERLANGER    KY  41018
14636       1 MEDICAL VILLAGE DR        NaN     EDGEWOOD    KY  41017
14637     711 MEDICAL VILLAGE DR        NaN     EDGEWOOD    KY  41017

              Phone            PseudoAddressID Invalid
0      606-523-5402  KY407018848CO2867XHWYX400
1      606-330-2377  KY407418345LO1025XLNXX400
2      606-864-7316  KY407413006LO649XXRDXX402
3      859-212-5441  KY410424824FL4900XRDXX300
4      859-572-3617  KY410751793FO85XXXAVEX400
...             ...                        ...     ...
14633                KY405043274LE2400XPTXX300       Y
14634  800-967-2289  KY411012843AS2201XAVEX300
14635  859-534-1498  KY410182840ER3970XRDXX300
14636  859-212-4468  KY410173403ED1XXXXDRXX400
14637  859-331-3353  KY410173439ED711XXDRXX400

[14638 rows x 13 columns]

/var/folders/yw/glbhrf0506q_4fcjx743s0gc0000gn/T/ipykernel_26914/793705167.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  providers_ky['Invalid'] = providers_ky.apply(check_nan, axis=1).values

In [79]:
# Filter the DataFrame based on the condition 'New_Column' == 'Y'
new_table_y = providers_ky[providers_ky['Invalid'] == 'Y']

# Display the new DataFrame containing rows where 'New_Column' == 'Y'
new_table_y

,NPI,Last_Name,First_Name,Type_of_Licensure,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID,Invalid
8,1003026295,THACKER,JEREMY,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,2400 GREATSTONE PT,NaN,LEXINGTON,KY,40504,,KY405043274LE2400XPTXX300,Y
23,1003075243,KALANTAR,MASOUD,NaN,OTHER,1700 NICHOLASVILLE RD,NaN,LEXINGTON,KY,40503,,KY405031431LE1700XRDXX300,Y
29,1003076274,BURNETT,AMY,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,800 ROSE ST,PAV A DATA CTR,LEXINGTON,KY,40536,,KY405360001LE800XXSTXX311,Y
40,1003122201,HARVEY,JACOB,NaN,OTHER,150 FRANFORT RD,NaN,SHELBYVILLE,KY,40065,,KY400657401SH150XXRDXX300,Y
41,1003122201,HARVEY,JACOB,NaN,OTHER,438 ADAM SHEPHERD PKWY,NaN,SHEPHERDSVILLE,KY,40165,,KY401656640SH438XXPKWY400,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14615,1427056241,MULLIGAN,JOHN,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,1201 PLEASANT VALLEY RD,NaN,OWENSBORO,KY,42303,,KY423039811OW1201XRDXX400,Y
14623,1427068782,FANOS,KATHLEEN,MD,DES MOINES UNIVERSITY OF OSTEOPATHIC MEDICINE ...,1001 SAINT JOSEPH LN,NaN,LONDON,KY,40741,,KY407418345LO1001XLNXX400,Y
14629,1427072321,MCCLURE,RICK,MD,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,2400 GREATSTONE PT,NaN,LEXINGTON,KY,40504,,KY405043274LE2400XPTXX300,Y
14631,1427072883,IRELAND,MARY,NaN,OTHER,2400 GREATSTONE PT,NaN,LEXINGTON,KY,40504,,KY405043274LE2400XPTXX300,Y
14633,1427072990,MILLER,BETH,MD,UNIVERSITY OF TOLEDO COLLEGE OF MEDICINE,2400 GREATSTONE PT,NaN,LEXINGTON,KY,40504,,KY405043274LE2400XPTXX300,Y

In [80]:
new_table_y.head(50)

,NPI,Last_Name,First_Name,Type_of_Licensure,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID,Invalid
8,1003026295,THACKER,JEREMY,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,2400 GREATSTONE PT,NaN,LEXINGTON,KY,40504,,KY405043274LE2400XPTXX300,Y
23,1003075243,KALANTAR,MASOUD,NaN,OTHER,1700 NICHOLASVILLE RD,NaN,LEXINGTON,KY,40503,,KY405031431LE1700XRDXX300,Y
29,1003076274,BURNETT,AMY,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,800 ROSE ST,PAV A DATA CTR,LEXINGTON,KY,40536,,KY405360001LE800XXSTXX311,Y
40,1003122201,HARVEY,JACOB,NaN,OTHER,150 FRANFORT RD,NaN,SHELBYVILLE,KY,40065,,KY400657401SH150XXRDXX300,Y
41,1003122201,HARVEY,JACOB,NaN,OTHER,438 ADAM SHEPHERD PKWY,NaN,SHEPHERDSVILLE,KY,40165,,KY401656640SH438XXPKWY400,Y
43,1003122201,HARVEY,JACOB,NaN,OTHER,901 DUPONT RD,SUITE 100,LOUISVILLE,KY,40207,,KY402074644LO901XXRDXX301,Y
44,1003122201,HARVEY,JACOB,NaN,OTHER,7926 PRESTON HWY,NaN,LOUISVILLE,KY,40219,,KY402193848LO7926XHWYX300,Y
47,1003122201,HARVEY,JACOB,NaN,OTHER,9342 CEDAR CTR WAY,NaN,LOUISVILLE,KY,40291,,KY402914522LO9342XWAYX400,Y
50,1003126996,NESKETA,BERHANEMESKEL,NaN,OTHER,2211 MAYFAIR DR,NaN,OWENSBORO,KY,42301,,KY423014569OW2211XDRXX300,Y
51,1003126996,NESKETA,BERHANEMESKEL,NaN,OTHER,1301 PLEASANT VALLEY RD,NaN,OWENSBORO,KY,42303,,KY423039774OW1301XRDXX400,Y
52,1003126996,NESKETA,BERHANEMESKEL,NaN,OTHER,1201 PLEASANT VALLEY RD,NaN,OWENSBORO,KY,42303,,KY423039811OW1201XRDXX400,Y
65,1003155029,HARLEY,KIM,NaN,OTHER,2211 MAYFAIR DR,NaN,OWENSBORO,KY,42301,,KY423014569OW2211XDRXX300,Y
69,1003162652,CARTER,EMILY,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,1700 NICHOLASVILLE RD,NaN,LEXINGTON,KY,40503,,KY405031431LE1700XRDXX300,Y
77,1003167495,RICE,YVONNE,NaN,OTHER,800 ROSE ST,PAV A DATA CTR,LEXINGTON,KY,40536,,KY405360001LE800XXSTXX311,Y
84,1003185679,DESAI,RIMA,NaN,OTHER,250 PARK ST,NaN,BOWLING GREEN,KY,42101,,KY421011760BO250XXSTXX300,Y
86,1003185679,DESAI,RIMA,NaN,OTHER,350 PARK ST,NaN,BOWLING GREEN,KY,42101,,KY421011784BO350XXSTXX300,Y
87,1003185679,DESAI,RIMA,NaN,OTHER,825 2ND AVE,NaN,BOWLING GREEN,KY,42101,,KY421011790BO825XXAVEX300,Y
94,1003193129,HOWARD,JASMINE,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,800 ROSE ST,PAV A DATA CTR,LEXINGTON,KY,40536,,KY405360001LE800XXSTXX311,Y
125,1003243858,MUNN,ASHLEY,NaN,OTHER,210 MARIE LANGDON DR,NaN,MANCHESTER,KY,40962,,KY409626388MA210XXDRXX400,Y
160,1003312075,SPEAR BRANSTETTER,WHITNEY,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,210 E GRAY ST,NaN,LOUISVILLE,KY,40202,,KY402023902LO210XXSTXX400,Y
164,1003312075,SPEAR BRANSTETTER,WHITNEY,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,4955 NORTON HEALTHCARE BLVD,FL 2,LOUISVILLE,KY,40241,,KY402412832LO4955XBLVD401,Y
209,1003444183,PUGH,WHITNEY,NaN,OTHER,300 S 8TH ST,NaN,MURRAY,KY,42071,,KY420712403MU300XXSTXX400,Y
228,1003498726,FITCH,WALTER,NaN,OTHER,571 S FLOYD ST,NaN,LOUISVILLE,KY,40202,,KY402023818LO571XXSTXX400,Y
231,1003524919,GUY,AMBER,NaN,OTHER,210 BEVINS LN,NaN,GEORGETOWN,KY,40324,,KY403246127GE210XXLNXX300,Y
242,1003809997,DARNELL,DUNCAN,NaN,EAST TENNESSEE STATE UNIVERSITY QUILLEN COLLEG...,425 BROADWAY ST,NaN,PADUCAH,KY,42001,,KY420010713PA425XXSTXX300,Y
249,1003810938,NASSAR,RAMSEY,NaN,UNIVERSITY OF TOLEDO COLLEGE OF MEDICINE,800 ROSE ST,PAV A DATA CTR,LEXINGTON,KY,40536,,KY405360001LE800XXSTXX311,Y
253,1003811985,JOHNSON,AMY,MD,WAKE FOREST UNIVERSITY SCHOOL OF MEDICINE,911 BYPASS RD,NaN,PIKEVILLE,KY,41501,,KY415011689PI911XXRDXX300,Y
299,1003865304,BROWN,MICHAEL,MD,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,3999 DUTCHMANS LN,SUITE 3A,LOUISVILLE,KY,40207,,KY402074747LO3999XLNXX303,Y
301,1003871518,PAYNE,STEPHEN,MD,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,115 HUSTON DR,NaN,SHEPHERDSVILLE,KY,40165,,KY401657250SH115XXDRXX300,Y
328,1003893546,CORNELL,CHRISTOPHER,MD,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,1 AUDUBON PLAZA DR,NaN,LOUISVILLE,KY,40217,,KY402171318LO1XXXXDRXX400,Y
332,1003901208,YOUNG,MICHAEL,MD,UNIVERSITY OF MICHIGAN MEDICAL SCHOOL,2400 GREATSTONE PT,NaN,LEXINGTON,KY,40504,,KY405043274LE2400XPTXX300,Y
347,1003941824,SKINNER,AARON,NaN,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,200 E CHESTNUT ST,BLDG SUITE303,LOUISVILLE,KY,40202,,KY402021831LO200XXSTXX403,Y
372,1013013028,MCENTIRE,BRENT,NaN,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,4950 NORTON HEALTHCARE BLVD,NaN,LOUISVILLE,KY,40241,,KY402412848LO4950XBLVD400,Y
373,1013013028,MCENTIRE,BRENT,NaN,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,9880 ANGIES WAY,NaN,LOUISVILLE,KY,40241,,KY402412850LO9880XWAYX300,Y
397,1013050368,FANNIN,FRANKLIN,NaN,WRIGHT STATE UNIVERSITY BOONSHOFT SCHOOL OF ME...,2400 EASTPOINT PKWY,NaN,LOUISVILLE,KY,40223,,KY402234154LO2400XPKWY300,Y
411,1013079581,KREDAN,TAWFIK,NaN,OTHER,1 SAINT JOSEPH DR,NaN,LEXINGTON,KY,40504,,KY405043742LE1XXXXDRXX400,Y
412,1013079581,KREDAN,TAWFIK,NaN,OTHER,150 N EAGLE CREEK DR,NaN,LEXINGTON,KY,40509,,KY405091805LE150XXDRXX500,Y
424,1013111939,TICHENOR,STEPHANIE,NaN,OTHER,200 E CHESTNUT ST,BLDG SUITE303,LOUISVILLE,KY,40202,,KY402021831LO200XXSTXX403,Y
446,1013129790,POPE,ROBERT,NaN,ARIZONA COLLEGE OF OSTEOPATHIC MEDICINE MID WE...,150 N EAGLE CREEK DR,NaN,LEXINGTON,KY,40509,,KY405091805LE150XXDRXX500,Y
449,1013142876,GILLETTE,ERICA,NaN,INDIANA UNIVERSITY SCHOOL OF MEDICINE,1301 N RACE ST,NaN,GLASGOW,KY,42141,,KY421413454GL1301XSTXX400,Y
457,1013152677,SKURKA,JOSEPH,NaN,BARRY UNIVERSITY SCHOOL OF PODIATRIC MEDICINE,216 W WALNUT ST,NaN,DANVILLE,KY,40422,,KY404221832DA216XXSTXX400,Y
468,1013170794,MUELLER,JOSEPH,NaN,MEDICAL COLLEGE OF GEORGIA SCHOOL OF MEDICINE,1700 NICHOLASVILLE RD,NaN,LEXINGTON,KY,40503,,KY405031431LE1700XRDXX300,Y
501,1013276641,CHRISTENSEN,ALISA-ANN,NaN,OTHER,405 VIOLET RD,NaN,CRITTENDEN,KY,41030,,KY410308956CR405XXRDXX300,Y
517,1013313253,ATKINSON,MICHAEL,NaN,SOUTHERN ILLINOIS UNIVERSITY SCHOOL OF MEDICINE,2211 MAYFAIR DR,NaN,OWENSBORO,KY,42301,,KY423014569OW2211XDRXX300,Y
518,1013313253,ATKINSON,MICHAEL,NaN,SOUTHERN ILLINOIS UNIVERSITY SCHOOL OF MEDICINE,1201 PLEASANT VALLEY RD,NaN,OWENSBORO,KY,42303,,KY423039811OW1201XRDXX400,Y
551,1013383892,SMITH,MICHAEL,NaN,OTHER,150 N EAGLE CREEK DR,NaN,LEXINGTON,KY,40509,,KY405091805LE150XXDRXX500,Y
557,1013392067,MEHTA,KABIR,NaN,OTHER,210 BLACK GOLD BLVD,NaN,HAZARD,KY,41701,,KY417012620HA210XXBLVD400,Y
578,1013443191,BOWENS,SHASTA,NaN,OTHER,225 FALCON DR,NaN,MOUNT STERLING,KY,40353,,KY403539792MO225XXDRXX300,Y
584,1013461441,DOLLAR,TARA,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,10650 US ROUTE 60,NaN,ASHLAND,KY,41102,,KY411029611AS1065060XX400,Y
591,1013484211,COLLIER,CAITLIN,NaN,OTHER,911 BYPASS RD,NaN,PIKEVILLE,KY,41501,,KY415011689PI911XXRDXX300,Y

In [81]:
# Filter the DataFrame based on the condition 'Invalid' != 'Y'
new_dataframe = providers_ky[providers_ky['Invalid'] != 'Y']

# Display the new DataFrame excluding rows where 'Invalid' == 'Y'
print(new_dataframe)

              NPI Last_Name First_Name Type_of_Licensure  \
0      1003008095     HOUSE      ROBIN               NaN
1      1003008095     HOUSE      ROBIN               NaN
2      1003008095     HOUSE      ROBIN               NaN
3      1003010539   STEWART    RICHARD                DO
4      1003010539   STEWART    RICHARD                DO
...           ...       ...        ...               ...
14632  1427072990    MILLER       BETH                MD
14634  1427076173   BRUNEAU     DENISE                MD
14635  1427081348    HOWELL   MICHELLE                OD
14636  1427087857  BARTOLAC    TIFFANI               NaN
14637  1427087857  BARTOLAC    TIFFANI               NaN

                                                 Med_sch  \
0                                                  OTHER
1                                                  OTHER
2                                                  OTHER
3      UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...
4      UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...
...                                                  ...
14632           UNIVERSITY OF TOLEDO COLLEGE OF MEDICINE
14634        UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE
14635                                              OTHER
14636       UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE
14637       UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE

                       Address_1  Address_2         City State    Zip  \
0      2867 CUMBERLAND FALLS HWY        NaN       CORBIN    KY  40701
1           1025 SAINT JOSEPH LN        NaN       LONDON    KY  40741
2            649 MEYERS BAKER RD  SUITE 102       LONDON    KY  40741
3                4900 HOUSTON RD        NaN     FLORENCE    KY  41042
4                 85 N GRAND AVE        NaN  FORT THOMAS    KY  41075
...                          ...        ...          ...   ...    ...
14632          100 GREATSTONE PT        NaN    LEXINGTON    KY  40504
14634         2201 LEXINGTON AVE        NaN      ASHLAND    KY  41101
14635         3970 TURKEYFOOT RD        NaN     ERLANGER    KY  41018
14636       1 MEDICAL VILLAGE DR        NaN     EDGEWOOD    KY  41017
14637     711 MEDICAL VILLAGE DR        NaN     EDGEWOOD    KY  41017

              Phone            PseudoAddressID Invalid
0      606-523-5402  KY407018848CO2867XHWYX400
1      606-330-2377  KY407418345LO1025XLNXX400
2      606-864-7316  KY407413006LO649XXRDXX402
3      859-212-5441  KY410424824FL4900XRDXX300
4      859-572-3617  KY410751793FO85XXXAVEX400
...             ...                        ...     ...
14632  859-257-9800  KY405043274LE100XXPTXX300
14634  800-967-2289  KY411012843AS2201XAVEX300
14635  859-534-1498  KY410182840ER3970XRDXX300
14636  859-212-4468  KY410173403ED1XXXXDRXX400
14637  859-331-3353  KY410173439ED711XXDRXX400

[13088 rows x 13 columns]