# Introduction

In my previous project (Provider Appointment Availability), we calculate the difference between survey date, and urgent and non-urgent appointments for health care providers contracted with Kentucky Medicaid.

The survey was conducted by vendor via telephone between February 15 to March 24, 2022. The survey was conducted to collect the first available urgent and non-urgent appointment date and time.

Click here to view my previous project: https://colab.research.google.com/drive/16jN5pbvAwbe141f1FOvTwKW3stZ4gpF2?usp=sharing#scrollTo=2a7cfd60

The scope of this project is to generate a Contact List (CL) for vendor, to conduct the telephone survey. The vendor will use the CL to contact providers' office and collect providers appointment date and time availability for Measurement Year (MY) 2023.

Please note, the raw data used in this project is downloaded from Center of Medicare and Medicaid's (CMS) website.[1]

Source:
[1] https://data.cms.gov/provider-data/dataset/mj5m-pzi6

This program will analyze the data downloaded from CMS website and generate the Contact List.

Analyze data:
* Import data downloaded from CMS website into the program.
* Select only required columns to identify providers, such as NPI, First_Name, Last_Name, Type_of_Licensure, Address, City, State, Zip_Code, and Phone_Number, etc.
* Clean data, such as Phone_number, and remove any null or invalid phone numbers.
* Select providers from Kentucky only for CL.
* Sample data using Python function to select random sample.
* Bump sampled data against Provider Appointment Availability survey data to check if the selected providers were contacted in last survey.

Display analyzed data in charts:
* Display sampled data using charts.
* By provider type/ by county

In [95]:
import pandas as pd
import numpy as np
import requests

In [96]:
data_types = {23: str}  # Column 23 will be treated as string
df = pd.read_csv("data_DACNationalProvider.csv", dtype=data_types)
df

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm,frst_nm,mid_nm,suff,gndr,Cred,Med_sch,...,adr_ln_1,adr_ln_2,ln_2_sprs,cty,st,zip,phn_numbr,ind_assgn,grp_assgn,adrs_id
0,1003008095,3678666054,I20070830000131,HOUSE,ROBIN,R,NaN,F,NaN,OTHER,...,2867 CUMBERLAND FALLS HWY,NaN,NaN,CORBIN,KY,407018848,6.065235e+09,Y,Y,KY407018848CO2867XHWYX400
1,1003008095,3678666054,I20070830000131,HOUSE,ROBIN,R,NaN,F,NaN,OTHER,...,1025 SAINT JOSEPH LN,NaN,NaN,LONDON,KY,407418345,6.063302e+09,Y,Y,KY407418345LO1025XLNXX400
2,1003008095,3678666054,I20070830000131,HOUSE,ROBIN,R,NaN,F,NaN,OTHER,...,649 MEYERS BAKER RD,SUITE 102,NaN,LONDON,KY,407413006,6.068647e+09,Y,Y,KY407413006LO649XXRDXX402
3,1003010539,2668571191,I20111022000054,STEWART,RICHARD,NaN,NaN,M,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",...,4900 HOUSTON RD,NaN,NaN,FLORENCE,KY,410424824,8.592125e+09,Y,Y,KY410424824FL4900XRDXX300
4,1003010539,2668571191,I20111022000054,STEWART,RICHARD,NaN,NaN,M,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",...,85 N GRAND AVE,NaN,NaN,FORT THOMAS,KY,410751793,8.595724e+09,Y,Y,KY410751793FO85XXXAVEX400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151414,1427086933,840293924,I20060825000196,NASSAB,PAUL,NaN,NaN,M,MD,BOSTON UNIVERSITY SCHOOL OF MEDICINE,...,9221-9223 NE HWY 152,NaN,NaN,KANSAS CITY,MO,641587608,8.167922e+09,Y,Y,MO641587608KA92219152X500
151415,1427087972,3678606597,I20100729000242,WU,TZYY-CHOOU,NaN,NaN,M,NaN,OTHER,...,600 N WOLFE ST,NaN,NaN,BALTIMORE,MD,212870005,4.109555e+09,Y,Y,MD212870005BA600XXSTXX400
151416,1427088012,8224127725,I20100813000549,KRAHN,MICHAEL,J,NaN,M,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",...,2800 CLAY EDWARDS DR,NORTHLAND RADIOLOGY,NaN,N KANSAS CITY,MO,641163220,9.136425e+09,Y,Y,MO641163220NX2800XDRXX402
151417,1427088012,8224127725,I20100813000549,KRAHN,MICHAEL,J,NaN,M,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",...,5501 NW 62ND TERRACE,200 TREMONT MEDICAL IMAGING,NaN,KANSAS CITY,MO,641512408,8.166918e+09,Y,Y,MO641512408KA5501XTERR403
151418,1427089044,8921103490,I20070412000367,PARKS,MARTIN,S,NaN,M,DC,CLEVELAND CHIROPRACTIC COLLEGE - KANSAS CITY,...,1908 W MECHANIC ST,NaN,NaN,HARRISONVILLE,MO,647011995,8.163802e+09,Y,M,MO647011995HA1908XSTXX400

In [97]:
df.columns

Index(['NPI', 'Ind_PAC_ID', 'Ind_enrl_ID', 'lst_nm', 'frst_nm', 'mid_nm',
       'suff', 'gndr', 'Cred', 'Med_sch', 'Grd_yr', 'pri_spec', 'sec_spec_1',
       'sec_spec_2', 'Telehlth', 'org_nm', 'org_pac_id', 'num_org_mem',
       'adr_ln_1', 'adr_ln_2', 'ln_2_sprs', 'cty', 'st', 'zip', 'phn_numbr',
       'ind_assgn', 'grp_assgn', 'adrs_id'],
      dtype='object')

In [117]:
# Drop columns not needed and rename columns
df_new = df[['NPI', 'lst_nm', 'frst_nm', 'Cred', 'pri_spec', 'Med_sch', 'adr_ln_1', 'adr_ln_2', 'cty', 'st', 'zip', 'phn_numbr',
              'adrs_id']].rename(columns={'lst_nm': 'Last_Name', 'frst_nm': 'First_Name', 'Cred': 'Type_of_Licensure',
                                          'pri_spec' : 'Specialty', 'adr_ln_1': 'Address_1', 'adr_ln_2': 'Address_2', 'cty': 'City', 'st': 'State',
                                          'zip': 'Zip', 'phn_numbr': 'Phone', 'adrs_id': 'PseudoAddressID'})

In [122]:
df_new

,NPI,Last_Name,First_Name,Type_of_Licensure,Specialty,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID
0,1003008095,HOUSE,ROBIN,NaN,NURSE PRACTITIONER,OTHER,2867 CUMBERLAND FALLS HWY,NaN,CORBIN,KY,407018848,6.065235e+09,KY407018848CO2867XHWYX400
1,1003008095,HOUSE,ROBIN,NaN,NURSE PRACTITIONER,OTHER,1025 SAINT JOSEPH LN,NaN,LONDON,KY,407418345,6.063302e+09,KY407418345LO1025XLNXX400
2,1003008095,HOUSE,ROBIN,NaN,NURSE PRACTITIONER,OTHER,649 MEYERS BAKER RD,SUITE 102,LONDON,KY,407413006,6.068647e+09,KY407413006LO649XXRDXX402
3,1003010539,STEWART,RICHARD,DO,EMERGENCY MEDICINE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",4900 HOUSTON RD,NaN,FLORENCE,KY,410424824,8.592125e+09,KY410424824FL4900XRDXX300
4,1003010539,STEWART,RICHARD,DO,EMERGENCY MEDICINE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",85 N GRAND AVE,NaN,FORT THOMAS,KY,410751793,8.595724e+09,KY410751793FO85XXXAVEX400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151414,1427086933,NASSAB,PAUL,MD,ORTHOPEDIC SURGERY,BOSTON UNIVERSITY SCHOOL OF MEDICINE,9221-9223 NE HWY 152,NaN,KANSAS CITY,MO,641587608,8.167922e+09,MO641587608KA92219152X500
151415,1427087972,WU,TZYY-CHOOU,NaN,PATHOLOGY,OTHER,600 N WOLFE ST,NaN,BALTIMORE,MD,212870005,4.109555e+09,MD212870005BA600XXSTXX400
151416,1427088012,KRAHN,MICHAEL,NaN,DIAGNOSTIC RADIOLOGY,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",2800 CLAY EDWARDS DR,NORTHLAND RADIOLOGY,N KANSAS CITY,MO,641163220,9.136425e+09,MO641163220NX2800XDRXX402
151417,1427088012,KRAHN,MICHAEL,NaN,DIAGNOSTIC RADIOLOGY,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",5501 NW 62ND TERRACE,200 TREMONT MEDICAL IMAGING,KANSAS CITY,MO,641512408,8.166918e+09,MO641512408KA5501XTERR403
151418,1427089044,PARKS,MARTIN,DC,CHIROPRACTIC,CLEVELAND CHIROPRACTIC COLLEGE - KANSAS CITY,1908 W MECHANIC ST,NaN,HARRISONVILLE,MO,647011995,8.163802e+09,MO647011995HA1908XSTXX400

In [100]:
df_new.dtypes

NPI                    int64
Last_Name             object
First_Name            object
Type_of_Licensure     object
Med_sch               object
Address_1             object
Address_2             object
City                  object
State                 object
Zip                   object
Phone                float64
PseudoAddressID       object
dtype: object

In [123]:
pro_new = pd.DataFrame(df_new)

# Function to extract the first 5 digits of the ZIP code
def extract_first_5_digits(zip_code):
    if pd.notna(zip_code):
        return str(zip_code)[:5]
    else:
        return ""

# Function to format phone numbers as "111-111-1111"
def format_phone(phone_num):
    if pd.notna(phone_num):
        phone_int = int(phone_num)
        phone_str = str(phone_int)
        return f"{phone_str[:3]}-{phone_str[3:6]}-{phone_str[6:]}"
    else:
        return ""

# Applying the conversion functions to the ZIP and Phone columns in the DataFrame
pro_new['Zip'] = pro_new['Zip'].apply(extract_first_5_digits)
pro_new['Phone'] = pro_new['Phone'].apply(format_phone)

# Display the dataframe with formatted Zip and Phone Number.
pro_new

,NPI,Last_Name,First_Name,Type_of_Licensure,Specialty,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID
0,1003008095,HOUSE,ROBIN,NaN,NURSE PRACTITIONER,OTHER,2867 CUMBERLAND FALLS HWY,NaN,CORBIN,KY,40701,606-523-5402,KY407018848CO2867XHWYX400
1,1003008095,HOUSE,ROBIN,NaN,NURSE PRACTITIONER,OTHER,1025 SAINT JOSEPH LN,NaN,LONDON,KY,40741,606-330-2377,KY407418345LO1025XLNXX400
2,1003008095,HOUSE,ROBIN,NaN,NURSE PRACTITIONER,OTHER,649 MEYERS BAKER RD,SUITE 102,LONDON,KY,40741,606-864-7316,KY407413006LO649XXRDXX402
3,1003010539,STEWART,RICHARD,DO,EMERGENCY MEDICINE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",4900 HOUSTON RD,NaN,FLORENCE,KY,41042,859-212-5441,KY410424824FL4900XRDXX300
4,1003010539,STEWART,RICHARD,DO,EMERGENCY MEDICINE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",85 N GRAND AVE,NaN,FORT THOMAS,KY,41075,859-572-3617,KY410751793FO85XXXAVEX400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151414,1427086933,NASSAB,PAUL,MD,ORTHOPEDIC SURGERY,BOSTON UNIVERSITY SCHOOL OF MEDICINE,9221-9223 NE HWY 152,NaN,KANSAS CITY,MO,64158,816-792-2266,MO641587608KA92219152X500
151415,1427087972,WU,TZYY-CHOOU,NaN,PATHOLOGY,OTHER,600 N WOLFE ST,NaN,BALTIMORE,MD,21287,410-955-5000,MD212870005BA600XXSTXX400
151416,1427088012,KRAHN,MICHAEL,NaN,DIAGNOSTIC RADIOLOGY,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",2800 CLAY EDWARDS DR,NORTHLAND RADIOLOGY,N KANSAS CITY,MO,64116,913-642-4900,MO641163220NX2800XDRXX402
151417,1427088012,KRAHN,MICHAEL,NaN,DIAGNOSTIC RADIOLOGY,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",5501 NW 62ND TERRACE,200 TREMONT MEDICAL IMAGING,KANSAS CITY,MO,64151,816-691-8000,MO641512408KA5501XTERR403
151418,1427089044,PARKS,MARTIN,DC,CHIROPRACTIC,CLEVELAND CHIROPRACTIC COLLEGE - KANSAS CITY,1908 W MECHANIC ST,NaN,HARRISONVILLE,MO,64701,816-380-2436,MO647011995HA1908XSTXX400

In [124]:
# Select providers from Kentucky only
providers_ky = pro_new[pro_new['State'] == 'KY']

# Display the filtered DataFrame containing providers from KY
providers_ky

,NPI,Last_Name,First_Name,Type_of_Licensure,Specialty,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID
0,1003008095,HOUSE,ROBIN,NaN,NURSE PRACTITIONER,OTHER,2867 CUMBERLAND FALLS HWY,NaN,CORBIN,KY,40701,606-523-5402,KY407018848CO2867XHWYX400
1,1003008095,HOUSE,ROBIN,NaN,NURSE PRACTITIONER,OTHER,1025 SAINT JOSEPH LN,NaN,LONDON,KY,40741,606-330-2377,KY407418345LO1025XLNXX400
2,1003008095,HOUSE,ROBIN,NaN,NURSE PRACTITIONER,OTHER,649 MEYERS BAKER RD,SUITE 102,LONDON,KY,40741,606-864-7316,KY407413006LO649XXRDXX402
3,1003010539,STEWART,RICHARD,DO,EMERGENCY MEDICINE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",4900 HOUSTON RD,NaN,FLORENCE,KY,41042,859-212-5441,KY410424824FL4900XRDXX300
4,1003010539,STEWART,RICHARD,DO,EMERGENCY MEDICINE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",85 N GRAND AVE,NaN,FORT THOMAS,KY,41075,859-572-3617,KY410751793FO85XXXAVEX400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14633,1427072990,MILLER,BETH,MD,ALLERGY/IMMUNOLOGY,UNIVERSITY OF TOLEDO COLLEGE OF MEDICINE,2400 GREATSTONE PT,NaN,LEXINGTON,KY,40504,,KY405043274LE2400XPTXX300
14634,1427076173,BRUNEAU,DENISE,MD,OBSTETRICS/GYNECOLOGY,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,2201 LEXINGTON AVE,NaN,ASHLAND,KY,41101,800-967-2289,KY411012843AS2201XAVEX300
14635,1427081348,HOWELL,MICHELLE,OD,OPTOMETRY,OTHER,3970 TURKEYFOOT RD,NaN,ERLANGER,KY,41018,859-534-1498,KY410182840ER3970XRDXX300
14636,1427087857,BARTOLAC,TIFFANI,NaN,NURSE PRACTITIONER,UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE,1 MEDICAL VILLAGE DR,NaN,EDGEWOOD,KY,41017,859-212-4468,KY410173403ED1XXXXDRXX400
14637,1427087857,BARTOLAC,TIFFANI,NaN,NURSE PRACTITIONER,UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE,711 MEDICAL VILLAGE DR,NaN,EDGEWOOD,KY,41017,859-331-3353,KY410173439ED711XXDRXX400

In [125]:
providers_ky['Specialty'].unique()

array(['NURSE PRACTITIONER', 'EMERGENCY MEDICINE', 'FAMILY PRACTICE',
       'DIAGNOSTIC RADIOLOGY',
       'CERTIFIED REGISTERED NURSE ANESTHETIST (CRNA)',
       'VASCULAR SURGERY', 'ANESTHESIOLOGY',
       'CARDIOVASCULAR DISEASE (CARDIOLOGY)', 'QUALIFIED AUDIOLOGIST',
       'INTERNAL MEDICINE', 'OPTOMETRY', 'PHYSICIAN ASSISTANT',
       'ALLERGY/IMMUNOLOGY', 'CLINICAL SOCIAL WORKER',
       'PULMONARY DISEASE', 'PSYCHIATRY', 'OBSTETRICS/GYNECOLOGY',
       'DERMATOLOGY', 'PHYSICAL THERAPY', 'ENDOCRINOLOGY',
       'SPORTS MEDICINE', 'UROLOGY', 'PATHOLOGY', 'HEMATOLOGY/ONCOLOGY',
       'HOSPITALIST', 'PODIATRY', 'GASTROENTEROLOGY', 'NEPHROLOGY',
       'NEUROLOGY', 'HOSPICE/PALLIATIVE CARE', 'GENERAL SURGERY',
       'CARDIAC SURGERY', 'OPHTHALMOLOGY', 'NEUROSURGERY',
       'OTOLARYNGOLOGY', 'INTERVENTIONAL RADIOLOGY', 'RADIATION ONCOLOGY',
       'GENERAL PRACTICE', 'INFECTIOUS DISEASE', 'PEDIATRIC MEDICINE',
       'ORTHOPEDIC SURGERY', 'CHIROPRACTIC', 'CLINICAL PSYCHOLOGIST',
       'REGISTERED DIETITIAN OR NUTRITION PROFESSIONAL',
       'PAIN MANAGEMENT', 'MEDICAL ONCOLOGY', 'THORACIC SURGERY',
       'OCCUPATIONAL THERAPY', 'INTERVENTIONAL CARDIOLOGY',
       'CERTIFIED CLINICAL NURSE SPECIALIST (CNS)', 'HAND SURGERY',
       'QUALIFIED SPEECH LANGUAGE PATHOLOGIST', 'RHEUMATOLOGY',
       'GYNECOLOGICAL ONCOLOGY', 'CERTIFIED NURSE MIDWIFE (CNM)',
       'COLORECTAL SURGERY (PROCTOLOGY)',
       'PHYSICAL MEDICINE AND REHABILITATION', 'NEUROPSYCHIATRY',
       'GERIATRIC MEDICINE', 'ORAL SURGERY', 'MAXILLOFACIAL SURGERY',
       'CARDIAC ELECTROPHYSIOLOGY', 'PLASTIC AND RECONSTRUCTIVE SURGERY',
       'CRITICAL CARE (INTENSIVISTS)', 'SLEEP MEDICINE',
       'INTERVENTIONAL PAIN MANAGEMENT',
       'ADVANCED HEART FAILURE AND TRANSPLANT CARDIOLOGY',
       'SURGICAL ONCOLOGY', 'HEMATOLOGY',
       'OSTEOPATHIC MANIPULATIVE MEDICINE', 'PREVENTIVE MEDICINE',
       'NUCLEAR MEDICINE', 'MEDICAL GENETICS AND GENOMICS',
       'ADDICTION MEDICINE', 'UNDEFINED PHYSICIAN TYPE (SPECIFY)'],
      dtype=object)

In [130]:

# Filter providers_ky dataframe based on specified specialties
selected_specialties = ['FAMILY PRACTICE', 'INTERNAL MEDICINE', 'OBSTETRICS/GYNECOLOGY', 'PEDIATRICS']
providers_ky = providers_ky[providers_ky['Specialty'].isin(selected_specialties)]

# Display the dataframe with selected providers specialties
providers_ky

,NPI,Last_Name,First_Name,Type_of_Licensure,Specialty,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID
5,1003012428,PATEL,VIRAL,NaN,FAMILY PRACTICE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",405 VIOLET RD,NaN,CRITTENDEN,KY,41030,859-428-1610,KY410308956CR405XXRDXX300
102,1003218470,MINTON,ASHLEY,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,300 COMMERICAL CIRCLE,NaN,ALEXANDRIA,KY,41001,859-635-9440,KY410010001AL300XXCIRC300
103,1003218470,MINTON,ASHLEY,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,125 SAINT MICHAEL DR,NaN,COLD SPRING,KY,41076,859-781-4111,KY410763566CO125XXDRXX400
143,1003270422,PETRY,MICHAEL,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,6411 VETERANS MEMORIAL PKWY,NaN,CRESTWOOD,KY,40014,502-241-8611,KY400148698CR6411XPKWY400
144,1003270422,PETRY,MICHAEL,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,825 BARRET AVE,NaN,LOUISVILLE,KY,40204,502-272-5165,KY402041743LO825XXAVEX300
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14512,1417958349,DANNEMAN,HOLLY,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,413 S LOOP RD,NaN,EDGEWOOD,KY,41017,859-301-3800,KY410175446ED413XXRDXX400
14520,1417966425,JAVAID,FARHAN,MD,FAMILY PRACTICE,OTHER,1025 SAINT JOSEPH LN,NaN,LONDON,KY,40741,606-330-2377,KY407418345LO1025XLNXX400
14540,1417994070,HAYS,RAY,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,4071 TATES CREEK CENTRE DR,SUITE 202,LEXINGTON,KY,40517,859-260-4390,KY405173094LE4071XDRXX502
14541,1417994070,HAYS,RAY,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,1 TRILLIUM WAY,MTM/DSM,CORBIN,KY,40701,606-526-4647,KY407018727CO1XXXXWAYX306
14568,1427026178,ANDERSON SHERMAN,JUDITH,MD,FAMILY PRACTICE,"LOYOLA UNIVERSITY OF CHICAGO, STRITCH SCHOOL O...",16605 CHESTNUT GLEN PL,NaN,LOUISVILLE,KY,40245,502-709-0430,KY402456121LO16605PLXX400

In [132]:
# Add a new column 'Invalid' based on condition

providers_ky['Invalid'] = np.where((providers_ky['NPI'] == '') | (providers_ky['Phone'] == ''), 'Y', '')

# providers_ky['Invalid'] = ''
# providers_ky.loc[(providers_ky['NPI'] == '') | (providers_ky['Phone'] == ''), 'Invalid'] = 'Y'

# Display the updated DataFrame
providers_ky

,NPI,Last_Name,First_Name,Type_of_Licensure,Specialty,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID,Invalid
5,1003012428,PATEL,VIRAL,NaN,FAMILY PRACTICE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",405 VIOLET RD,NaN,CRITTENDEN,KY,41030,859-428-1610,KY410308956CR405XXRDXX300,
102,1003218470,MINTON,ASHLEY,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,300 COMMERICAL CIRCLE,NaN,ALEXANDRIA,KY,41001,859-635-9440,KY410010001AL300XXCIRC300,
103,1003218470,MINTON,ASHLEY,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,125 SAINT MICHAEL DR,NaN,COLD SPRING,KY,41076,859-781-4111,KY410763566CO125XXDRXX400,
143,1003270422,PETRY,MICHAEL,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,6411 VETERANS MEMORIAL PKWY,NaN,CRESTWOOD,KY,40014,502-241-8611,KY400148698CR6411XPKWY400,
144,1003270422,PETRY,MICHAEL,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,825 BARRET AVE,NaN,LOUISVILLE,KY,40204,502-272-5165,KY402041743LO825XXAVEX300,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14512,1417958349,DANNEMAN,HOLLY,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,413 S LOOP RD,NaN,EDGEWOOD,KY,41017,859-301-3800,KY410175446ED413XXRDXX400,
14520,1417966425,JAVAID,FARHAN,MD,FAMILY PRACTICE,OTHER,1025 SAINT JOSEPH LN,NaN,LONDON,KY,40741,606-330-2377,KY407418345LO1025XLNXX400,
14540,1417994070,HAYS,RAY,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,4071 TATES CREEK CENTRE DR,SUITE 202,LEXINGTON,KY,40517,859-260-4390,KY405173094LE4071XDRXX502,
14541,1417994070,HAYS,RAY,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,1 TRILLIUM WAY,MTM/DSM,CORBIN,KY,40701,606-526-4647,KY407018727CO1XXXXWAYX306,
14568,1427026178,ANDERSON SHERMAN,JUDITH,MD,FAMILY PRACTICE,"LOYOLA UNIVERSITY OF CHICAGO, STRITCH SCHOOL O...",16605 CHESTNUT GLEN PL,NaN,LOUISVILLE,KY,40245,502-709-0430,KY402456121LO16605PLXX400,

In [133]:
# Filter the DataFrame based on the condition 'New_Column' == 'Y'
new_table_y = providers_ky[providers_ky['Invalid'] == 'Y']

# Display the new DataFrame containing rows where 'New_Column' == 'Y'
new_table_y

,NPI,Last_Name,First_Name,Type_of_Licensure,Specialty,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID,Invalid
301,1003871518,PAYNE,STEPHEN,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,115 HUSTON DR,NaN,SHEPHERDSVILLE,KY,40165,,KY401657250SH115XXDRXX300,Y
449,1013142876,GILLETTE,ERICA,NaN,FAMILY PRACTICE,INDIANA UNIVERSITY SCHOOL OF MEDICINE,1301 N RACE ST,NaN,GLASGOW,KY,42141,,KY421413454GL1301XSTXX400,Y
501,1013276641,CHRISTENSEN,ALISA-ANN,NaN,FAMILY PRACTICE,OTHER,405 VIOLET RD,NaN,CRITTENDEN,KY,41030,,KY410308956CR405XXRDXX300,Y
722,1013953033,SCHMITT,KARL,NaN,FAMILY PRACTICE,UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE,1 MEDICAL VILLAGE DR,NaN,EDGEWOOD,KY,41017,,KY410173403ED1XXXXDRXX400,Y
744,1013978329,HOLZKNECHT,ROBERT,MD,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,2211 MAYFAIR DR,NaN,OWENSBORO,KY,42301,,KY423014569OW2211XDRXX300,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13991,1407294481,GABBARD,MICHAEL,NaN,FAMILY PRACTICE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",2211 MAYFAIR DR,NaN,OWENSBORO,KY,42301,,KY423014569OW2211XDRXX300,Y
14110,1407811771,JOHNS,SUSAN,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,4420 DIXIE HWY,NaN,LOUISVILLE,KY,40216,,KY402162986LO4420XHWYX300,Y
14111,1407811771,JOHNS,SUSAN,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,7926 PRESTON HWY,NaN,LOUISVILLE,KY,40219,,KY402193848LO7926XHWYX300,Y
14236,1417100223,SHAW,CHARLES,NaN,FAMILY PRACTICE,OTHER,2400 GREATSTONE PT,NaN,LEXINGTON,KY,40504,,KY405043274LE2400XPTXX300,Y
14458,1417904293,FAWNS,TINA,MD,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,2400 GREATSTONE PT,NaN,LEXINGTON,KY,40504,,KY405043274LE2400XPTXX300,Y

array([nan, 'MD', 'PA', 'CNA', 'NP', 'DO', 'CNS', 'MNT', 'DPM', 'CNM',
       'AU', 'CSW', 'PT'], dtype=object)

In [134]:
# Filter the DataFrame based on the condition 'Invalid' != 'Y'
new_dataframe = providers_ky[providers_ky['Invalid'] != 'Y']

# Display the new DataFrame excluding rows where 'Invalid' == 'Y'
print(new_dataframe)

              NPI         Last_Name First_Name Type_of_Licensure  \
5      1003012428             PATEL      VIRAL               NaN
102    1003218470            MINTON     ASHLEY               NaN
103    1003218470            MINTON     ASHLEY               NaN
143    1003270422             PETRY    MICHAEL               NaN
144    1003270422             PETRY    MICHAEL               NaN
...           ...               ...        ...               ...
14512  1417958349          DANNEMAN      HOLLY                MD
14520  1417966425            JAVAID     FARHAN                MD
14540  1417994070              HAYS        RAY                MD
14541  1417994070              HAYS        RAY                MD
14568  1427026178  ANDERSON SHERMAN     JUDITH                MD

             Specialty                                            Med_sch  \
5      FAMILY PRACTICE  UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...
102    FAMILY PRACTICE        UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE
103    FAMILY PRACTICE        UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE
143    FAMILY PRACTICE        UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE
144    FAMILY PRACTICE        UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE
...                ...                                                ...
14512  FAMILY PRACTICE         UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE
14520  FAMILY PRACTICE                                              OTHER
14540  FAMILY PRACTICE         UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE
14541  FAMILY PRACTICE         UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE
14568  FAMILY PRACTICE  LOYOLA UNIVERSITY OF CHICAGO, STRITCH SCHOOL O...

                         Address_1  Address_2         City State    Zip  \
5                    405 VIOLET RD        NaN   CRITTENDEN    KY  41030
102          300 COMMERICAL CIRCLE        NaN   ALEXANDRIA    KY  41001
103           125 SAINT MICHAEL DR        NaN  COLD SPRING    KY  41076
143    6411 VETERANS MEMORIAL PKWY        NaN    CRESTWOOD    KY  40014
144                 825 BARRET AVE        NaN   LOUISVILLE    KY  40204
...                            ...        ...          ...   ...    ...
14512                413 S LOOP RD        NaN     EDGEWOOD    KY  41017
14520         1025 SAINT JOSEPH LN        NaN       LONDON    KY  40741
14540   4071 TATES CREEK CENTRE DR  SUITE 202    LEXINGTON    KY  40517
14541               1 TRILLIUM WAY    MTM/DSM       CORBIN    KY  40701
14568       16605 CHESTNUT GLEN PL        NaN   LOUISVILLE    KY  40245

              Phone            PseudoAddressID Invalid
5      859-428-1610  KY410308956CR405XXRDXX300
102    859-635-9440  KY410010001AL300XXCIRC300
103    859-781-4111  KY410763566CO125XXDRXX400
143    502-241-8611  KY400148698CR6411XPKWY400
144    502-272-5165  KY402041743LO825XXAVEX300
...             ...                        ...     ...
14512  859-301-3800  KY410175446ED413XXRDXX400
14520  606-330-2377  KY407418345LO1025XLNXX400
14540  859-260-4390  KY405173094LE4071XDRXX502
14541  606-526-4647  KY407018727CO1XXXXWAYX306
14568  502-709-0430  KY402456121LO16605PLXX400

[798 rows x 14 columns]

In [136]:
# Import data file with City and County names
df_county = pd.read_csv("CityCounty.csv")
df_county

            City    County
0     ADAIRVILLE     LOGAN
1          ADAMS  LAWRENCE
2       ADOLPHUS     ALLEN
3         ALBANY   CLINTON
4     ALEXANDRIA  CAMPBELL
..           ...       ...
723  WORTHINGTON   GREENUP
724   WORTHVILLE   CARROLL
725     YEADDISS    LESLIE
726     YOSEMITE     CASEY
727          ZOE       LEE

[728 rows x 2 columns]

In [145]:
# Merge the two dataframes based on the 'City' column
merged_df = pd.merge(new_dataframe, df_county, on='City', how='left')

# Display the merged dataframe
merged_df.head(100)

,NPI,Last_Name,First_Name,Type_of_Licensure,Specialty,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID,Invalid,County
0,1003012428,PATEL,VIRAL,NaN,FAMILY PRACTICE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",405 VIOLET RD,NaN,CRITTENDEN,KY,41030,859-428-1610,KY410308956CR405XXRDXX300,,GRANT
1,1003218470,MINTON,ASHLEY,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,300 COMMERICAL CIRCLE,NaN,ALEXANDRIA,KY,41001,859-635-9440,KY410010001AL300XXCIRC300,,CAMPBELL
2,1003218470,MINTON,ASHLEY,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,125 SAINT MICHAEL DR,NaN,COLD SPRING,KY,41076,859-781-4111,KY410763566CO125XXDRXX400,,NaN
3,1003270422,PETRY,MICHAEL,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,6411 VETERANS MEMORIAL PKWY,NaN,CRESTWOOD,KY,40014,502-241-8611,KY400148698CR6411XPKWY400,,OLDHAM
4,1003270422,PETRY,MICHAEL,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,825 BARRET AVE,NaN,LOUISVILLE,KY,40204,502-272-5165,KY402041743LO825XXAVEX300,,JEFFERSON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6135,1427026178,ANDERSON SHERMAN,JUDITH,MD,FAMILY PRACTICE,"LOYOLA UNIVERSITY OF CHICAGO, STRITCH SCHOOL O...",16605 CHESTNUT GLEN PL,NaN,LOUISVILLE,KY,40245,502-709-0430,KY402456121LO16605PLXX400,,JEFFERSON
6136,1427026178,ANDERSON SHERMAN,JUDITH,MD,FAMILY PRACTICE,"LOYOLA UNIVERSITY OF CHICAGO, STRITCH SCHOOL O...",16605 CHESTNUT GLEN PL,NaN,LOUISVILLE,KY,40245,502-709-0430,KY402456121LO16605PLXX400,,JEFFERSON
6137,1427026178,ANDERSON SHERMAN,JUDITH,MD,FAMILY PRACTICE,"LOYOLA UNIVERSITY OF CHICAGO, STRITCH SCHOOL O...",16605 CHESTNUT GLEN PL,NaN,LOUISVILLE,KY,40245,502-709-0430,KY402456121LO16605PLXX400,,JEFFERSON
6138,1427026178,ANDERSON SHERMAN,JUDITH,MD,FAMILY PRACTICE,"LOYOLA UNIVERSITY OF CHICAGO, STRITCH SCHOOL O...",16605 CHESTNUT GLEN PL,NaN,LOUISVILLE,KY,40245,502-709-0430,KY402456121LO16605PLXX400,,JEFFERSON
6139,1427026178,ANDERSON SHERMAN,JUDITH,MD,FAMILY PRACTICE,"LOYOLA UNIVERSITY OF CHICAGO, STRITCH SCHOOL O...",16605 CHESTNUT GLEN PL,NaN,LOUISVILLE,KY,40245,502-709-0430,KY402456121LO16605PLXX400,,JEFFERSON

In [152]:
# Filter unique values and create a new dataframe
merged_df = df.drop_duplicates(subset=['Last_Name','First_Name', 'NPI', 'Phone'])

# Display the new dataframe
print(merged_df)

KeyError: Index(['First_Name', 'Last_Name', 'Phone'], dtype='object')

In [140]:
# For selecting a specific number of random rows
survey_sample = merged_df.sample(n=1500)
survey_sample

,NPI,Last_Name,First_Name,Type_of_Licensure,Specialty,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID,Invalid,County
516,1033505516,KOEBELE,CHRIS,NaN,FAMILY PRACTICE,OTHER,16605 CHESTNUT GLEN PL,NaN,LOUISVILLE,KY,40245,502-709-0430,KY402456121LO16605PLXX400,,JEFFERSON
2584,1194187278,NESTER,SARAH,NaN,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,825 BARRET AVE,NaN,LOUISVILLE,KY,40204,502-272-5165,KY402041743LO825XXAVEX300,,JEFFERSON
5745,1396240495,HELPHINSTINE,SARAH,NaN,FAMILY PRACTICE,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",1908 N MAIN ST,SUITE 120,HAZARD,KY,41701,606-439-2662,KY417012503HA1908XSTXX403,,PERRY
4194,1285749952,PAREKH,SACHIN,MD,FAMILY PRACTICE,OTHER,9850 VON ALLMEN CT,SUITE 201,LOUISVILLE,KY,40241,561-678-2026,KY402412855LO9850XCTXX401,,JEFFERSON
5425,1376544221,HOLMES,BETH,DO,FAMILY PRACTICE,WEST VIRGINIA SCHOOL OF OSTEOPATHIC MEDICINE,2101 NICHOLASVILLE RD,SUITE 103,LEXINGTON,KY,40503,859-278-0264,KY405032517LE2101XRDXX304,,FAYETTE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1701,1124047717,RICHARD,JOHN,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,989 GOVERNORS LN,SUITE 240,LEXINGTON,KY,40513,859-338-3958,KY405131175LE989XXLNXX303,,FAYETTE
2123,1164443529,MOORE,JACK,MD,FAMILY PRACTICE,WEST VIRGINIA UNIVERSITY SCHOOL OF MEDICINE,215 CENTRAL AVE,SUITE 100,LOUISVILLE,KY,40208,502-588-8720,KY402081450LO215XXAVEX304,,JEFFERSON
5079,1356348213,JARBOE,CHARLES,NaN,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,910 WALLACE AVE,NaN,LEITCHFIELD,KY,42754,270-259-9400,KY427542414LE910XXAVEX300,,GRAYSON
129,1003871518,PAYNE,STEPHEN,MD,FAMILY PRACTICE,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,825 BARRET AVE,NaN,LOUISVILLE,KY,40204,502-272-5165,KY402041743LO825XXAVEX300,,JEFFERSON
4471,1316105299,HAWLEY,LAURA,NaN,FAMILY PRACTICE,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,2470 BARDSTOWN RD,SUITE B,LOUISVILLE,KY,40205,502-459-3991,KY402052123LO2470XRDXX301,,JEFFERSON

In [150]:
merged_df['NPI'].nunique()

525

In [ ]:
new_table_y['Type_of_Licensure'].unique()

In [110]:
df_county['City'].nunique()

675